<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MMABooks"
         connectionString=
         "Data Source=(LocalDB)\MSSQLLocalDB;
         AttachDBFilename=D:\Documents\C#Fall2023\MMABooks.mdf;
         Integrated Security=True"/>
  </connectionStrings>
</configuration>
